<nav class="navbar navbar-default sp-horiz-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><img src="/assets/alt.png" alt="Alt" width="40" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div id="alt-search-app"></div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/guide/">Getting Started</a>
        </li>
        <li class="dropdown">
          <a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/docs/">Alt</a>
            </li>
            {% for item in site.sidenav %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="https://gitter.im/goatslacker/alt">Support</a>
        </li>
        <li>
          <a href="https://github.com/goatslacker/alt">GitHub</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
