/*
 * alt
 */
.alt-orange {
  color: #db5800;
}

a {
  color: #db5800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: #210d00;
}

.banner {
  background: linear-gradient(to right, #210d00 0%, #301300 100%);
}

.logo {
  position: relative;
  top: 0.85em;
}

.navbar.navbar-default {
  background: #210d00;
  border-radius: 0;
  border-color: #210d00;
  margin-bottom: 0;
}

html .navbar-nav li a {
  line-height: 26px;
}

html .navbar-nav > li > .dropdown-menu {
  left: 0;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: #210d00;
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #210d00;
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  background: #210d00;
  color: #fff;
  padding: 6px 20px;
}

.dropdown-menu {
  padding: 0;
}

.navbar {
  min-height: 30px;
}

.navbar-brand {
  height: auto;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background: #210d00;
}

.main {
  min-height: 600px;
}

.sidenav {
  margin-top: 0.5em;
  padding: 0;
}

.sidenav li {
  list-style-type: none;
  margin-bottom: 1em;
}

h3 {
  font-weight: 300;
}

a.btn {
  background: linear-gradient(to bottom, #d9cabf 0%, #bfb2a8 100%);
  color: inherit;
  text-decoration: none;
}

hr {
  background: #bfb2a8;
  border: none;
  height: 1px;
  margin: 4em auto;
  width: 25%;
}

code {
  background: #f0f0f0;
  border-radius: 4px;
  border: 1px solid #cacaca;
  display: inline;
  padding: 0.1em 0.25em;
}

code.language-js, code.language-txt {
  display: block;
  padding: 0.5em 1em;
}

pre[class*=language-] {
  padding: 0;
  margin: 2em 0;
}

blockquote {
  background: #f0f0f0;
  border-width: .5em;
  padding: 1em;
}

blockquote p {
  margin: 0;
}

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon path {
  fill: #bfb2a8;
}

footer {
  background: #022539;
  text-align: center;
  width: 100%;
}

footer a {
  color: #bfb2a8;
  margin: 0 1em;
}

footer a:hover {
  text-decoration: none;
}

.post {
  border: 1px solid #cacaca;
  padding: 2em 1em;
  text-align: center;
  width: 100%;

}

.post h2 {
  margin: 0;
}

a.btn-brand {
  background: #db5800;
  border-bottom: 2px solid #bb3800;
}

.navbar-collapse.collapse #alt-search-app {
  left: 0;
  position: absolute;
}

.navbar-collapse.collapse .alt-search__input {
  left: 90px;
}

.navbar-collapse.collapsing #alt-search-app,
.navbar-collapse.collapse.in #alt-search-app {
  position: static;
}

.navbar-collapse.collapsing .alt-search__input,
.navbar-collapse.collapse.in .alt-search__input {
  display: block;
  margin: 1em auto 0 auto;
  position: static;
}

html .alt-search__results {
  position: relative;
  top: 22px;
  width: auto;
}

.navbar-collapse.collapse.in .alt-search__results {
  margin-bottom: 2em;
}
