---
layout: default
title: Alt - Flux - Managing your state
description: A library for managing data within JavaScript applications.
permalink: /
---

<div class="banner sp-vert-md sp-horiz-lg txt-light-gray txt-center txt-light">
  <img class="logo" src="{{ "/assets/alt.png" | prepend: site.url }}" alt="Alt" width="80" />
  &nbsp;
  <h1 class="inline txt-light" style="margin: 0">Alt</h1>
  <h3>A library for managing data within JavaScript applications.</h3>

  <br />

  <div>
    <a class="btn btn-brand" href="/guide/">Get Started in 5 Minutes</a>
  </div>
</div>

<section class="sp-horiz-lg sp-vert-md">
  <h1>Features</h1>

  <div class="row">
    <div class="col c4">
      <h3>100% Flux</h3>
      <p>A true flux compliant library in a very small size. Actions are fire and forget, stores have no setters, you get constants, and Flux's single dispatcher.</p>
    </div>
    <div class="col c4">
      <h3>Server Side Rendering</h3>
      <p>Alt comes with support for building Isomorphic JavaScript applications right out of the box.</p>
    </div>
    <div class="col c4">
      <h3>Snapshots</h3>
      <p>At any point in time you can take a snapshot of the entire application state and then reload it later. This opens the door for easier debugging, hot state reloading, and more.</p>
    </div>
  </div>

  <div class="row sp-vert-sm"></div>

  <div class="row">
    <div class="col c4">
      <h3>Terse</h3>
      <p>Do away with defining constants, building your own boilerplate dispatchers, and ugly switch statements.</p>
    </div>
    <div class="col c4">
      <h3>Flexible</h3>
      <p>Feel like ditching singletons, creating instances of each store, and passing them to your view? No problem.</p>
    </div>
    <div class="col c4">
      <h3>Forward Thinking</h3>
      <p>Although optional, Alt is meant to work with ES2015 leveraging the new constructs and syntax for something powerful.</p>
    </div>
  </div>
</section>
